<main #pixiContainer id="main-window" class="main-content">
  <div id="button-container">
    <button class="dev-button" (click)="onToggleSidebar()">Display sidebar</button>
    <input class="dev-button" type="file" (change)="onImageAdded($event)">
  </div>
</main>

@if (sidebarVisible()) {
  <aside class="sidebar">
    <h2>Sidebar</h2>
    <p>Contenu de la sidebar.</p>
  </aside>
}

<router-outlet />
