.main-content {
    margin: 0;
    background-color: #f7f4e6;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #e7e3d9;
    padding: 20px;
    box-shadow: -2px 0 5px #8d8a84;
}

.dev-button {
    margin: 5px;
}

#button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
}